@charset "UTF-8";
body{
	
}
header {
  width: 100%;
  top: 0;
  z-index: 9;
  background-color: #F6F5F0;
  border-bottom: 1px solid #c8c8c8;
  text-align: center;
  line-height: 1.4;
}
#hotel_room_all{
    width: 100%;
    height: 300px;
    text-align: center;
    display: flex;
    flex-direction: row-reverse;
}
  
#hotel_room_list_left{
    width: 50%;
    float: left;
    box-sizing: border-box;
    text-align: center;
    padding-right: 100px;
}

#hotel_room_list_right{
  width: 50%;
  float: right;
  box-sizing: border-box;
  text-align: left;
}

#hotel_room_list_right2{
  text-align: center;
}
  
#hotel_room_list_bottom{
  float: right;
  text-align: center;
  padding-top: 50px;
}

#hotel_reservation_all{
  width: 1100px;
  margin: 0 auto;
  position: relative;
}

#hotel_reservation_left{
  width: 35%;
  float: left;
  box-sizing: border-box;
  text-align: center;
  padding-right: 100px;
  
  position: relative;
}
#hotel_reservation_center{
  width: 30%;
  float: left;
  box-sizing: border-box;
  text-align: center;
  
  position: relative;
}
#hotel_reservation_right{
  width: 35%;
  float: left;
  box-sizing: border-box;
  text-align: center;
  padding-left: 50px;
  position: relative;
 
}

#hotel_reservation_bottom{
  text-align: center;
  margin-bottom: 50px;
  padding: 100px;
  box-sizing: border-box;
}

.reservation1{
  padding-left: 20px;
}
.reservation3{
  padding-left: 8px;
}
.reservation4{
  padding-left: 50px;
}